body{
    background-color: #836FFF;
}

.container{

    width: 80%;
    margin: auto;

}

h1{
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: bolder;
}

.img_corpo{
    width: 50%;
}

figure{
    text-align: center;
}

.img_topo{
    width: 100%;
}

p{
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    text-indent: 50px;
    text-align: justify;

}